img {
    border: 1px solid #000;
    padding: 10px;
    margin: 0px 10px 25px 10px;
    /* background: #ddd; */
    box-shadow: 0px 0px 10px 0px #0f0;
}

img:hover {
    box-shadow: 0px 0px 25px 0px #0f0;
}